In [1]:
from bs4 import BeautifulSoup
from requests import get

In [2]:
url = "https://www.imdb.com/chart/boxoffice/?ref_=nv_ch_cht"

In [3]:
A = get(url).content

In [4]:
soup = BeautifulSoup(A,"html.parser")

In [5]:
from re import sub
title = []
for i in soup.find_all("td",class_=["titleColumn"]):
    i = i.text
    i = sub("[^0-9a-zA-Z .]","",i)
    title.append(i)

In [6]:
title

['Doctor Strange in the Multiverse of Madness',
 'The Bad Guys',
 'Sonic the Hedgehog 2',
 'Fantastic Beasts The Secrets of Dumbledore',
 'Everything Everywhere All at Once',
 'The Northman',
 'The Lost City',
 'The Unbearable Weight of Massive Talent',
 'Memory',
 'Father Stu']

In [7]:
gross = []
for i in soup.find_all("span",class_=["secondaryInfo"]):
    i = i.text
    i = sub("[^0-9a-zA-Z .]","",i)
    gross.append(i)

In [8]:
gross

['187.4M',
 '57.4M',
 '169.7M',
 '86.3M',
 '41.8M',
 '28.1M',
 '94.7M',
 '16.4M',
 '5.7M',
 '19.3M']

In [9]:
weeks = []
for i in soup.find_all("td",class_=["weeksColumn"]):
    i = i.text
    i = sub("[^0-9a-zA-Z .]","",i)
    weeks.append(i)

In [10]:
weeks

['1', '3', '5', '4', '7', '3', '7', '3', '2', '4']

In [11]:
rating = []
for i in soup.find_all("td",class_=["ratingColumn"]):
    i = i.text
    i = sub("[^0-9a-zA-Z .]","",i)
    rating.append(i)

In [12]:
final_weekend = []
raw_weekend = []
for i in soup.find_all("td",class_=["ratingColumn"][0]):
    i = i.text
    i = sub("[^0-9a-zA-Z.]","",i)
    raw_weekend.append(i)
    
for i in range(0,20,1):
    if i%2 == 0:
        final_weekend.append(raw_weekend[i])

In [13]:
final_weekend

['187.4M',
 '9.6M',
 '6.0M',
 '4.3M',
 '3.5M',
 '2.9M',
 '2.8M',
 '1.6M',
 '1.4M',
 '875K']

In [14]:
import pandas as pd
A = pd.DataFrame([title,final_weekend,gross,weeks]).T
A.columns = ["Movie Title","Weekend","Gross","Weeks"]

In [15]:
A

                                   Movie Title Weekend   Gross Weeks
0  Doctor Strange in the Multiverse of Madness  187.4M  187.4M     1
1                                 The Bad Guys    9.6M   57.4M     3
2                         Sonic the Hedgehog 2    6.0M  169.7M     5
3   Fantastic Beasts The Secrets of Dumbledore    4.3M   86.3M     4
4            Everything Everywhere All at Once    3.5M   41.8M     7
5                                 The Northman    2.9M   28.1M     3
6                                The Lost City    2.8M   94.7M     7
7      The Unbearable Weight of Massive Talent    1.6M   16.4M     3
8                                       Memory    1.4M    5.7M     2
9                                   Father Stu    875K   19.3M     4

In [16]:
w1 = []
for i in A["Weekend"]:
    
    if i.endswith("K") == True:
        a = i.replace("K","")
        a = float(a)
        a = a * 1000
        w1.append(a)
        
    else:
        b = i.replace("M","")
        b = float(b)
        b = b * 1000000
        w1.append(b)

In [17]:
w1

[187400000.0,
 9600000.0,
 6000000.0,
 4300000.0,
 3500000.0,
 2900000.0,
 2800000.0,
 1600000.0,
 1400000.0,
 875000.0]

In [18]:
A["Weekend"] = w1

In [19]:
g = []
for i in A["Gross"]:
    
    if i.endswith("K") == True:
        a = i.replace("K","")
        a = float(a)
        a = a * 1000
        g.append(a)
        
    else:
        b = i.replace("M","")
        b = float(b)
        b = b * 1000000
        g.append(b)

In [20]:
A["Gross"] = g

In [21]:
A

                                   Movie Title      Weekend        Gross Weeks
0  Doctor Strange in the Multiverse of Madness  187400000.0  187400000.0     1
1                                 The Bad Guys    9600000.0   57400000.0     3
2                         Sonic the Hedgehog 2    6000000.0  169700000.0     5
3   Fantastic Beasts The Secrets of Dumbledore    4300000.0   86300000.0     4
4            Everything Everywhere All at Once    3500000.0   41800000.0     7
5                                 The Northman    2900000.0   28100000.0     3
6                                The Lost City    2800000.0   94700000.0     7
7      The Unbearable Weight of Massive Talent    1600000.0   16400000.0     3
8                                       Memory    1400000.0    5700000.0     2
9                                   Father Stu     875000.0   19300000.0     4

In [22]:
url1 = "https://www.xe.com/currencyconverter/convert/?Amount=1&From=USD&To=INR"

In [23]:
r = get(url1).content

In [24]:
soup1 = BeautifulSoup(r,"html.parser")

In [25]:
a = []
for i in soup1.find_all("p",class_="result__BigRate-sc-1bsijpp-1 iGrAod"): 
    i = i.text
    i = sub("[^0-9.]","",i)
    a.append(i)

In [26]:
inr_val = float(a[0])

In [27]:
A

                                   Movie Title      Weekend        Gross Weeks
0  Doctor Strange in the Multiverse of Madness  187400000.0  187400000.0     1
1                                 The Bad Guys    9600000.0   57400000.0     3
2                         Sonic the Hedgehog 2    6000000.0  169700000.0     5
3   Fantastic Beasts The Secrets of Dumbledore    4300000.0   86300000.0     4
4            Everything Everywhere All at Once    3500000.0   41800000.0     7
5                                 The Northman    2900000.0   28100000.0     3
6                                The Lost City    2800000.0   94700000.0     7
7      The Unbearable Weight of Massive Talent    1600000.0   16400000.0     3
8                                       Memory    1400000.0    5700000.0     2
9                                   Father Stu     875000.0   19300000.0     4

In [28]:
inr_weekend = []
for i in A.Weekend:
    w = round(i * inr_val,2)
    inr_weekend.append(w)

In [29]:
A["Weekend (INR)"] = inr_weekend

In [30]:
inr_gross = []
for i in A.Gross:
    ig = round(i * inr_val,2)
    inr_gross.append(ig)

In [31]:
A["Gross (INR)"] = inr_gross

In [32]:
A

,Movie Title,Weekend,Gross,Weeks,Weekend (INR),Gross (INR)
0,Doctor Strange in the Multiverse of Madness,187400000.0,187400000.0,1,1.453566e+10,1.453566e+10
1,The Bad Guys,9600000.0,57400000.0,3,7.446231e+08,4.452226e+09
2,Sonic the Hedgehog 2,6000000.0,169700000.0,5,4.653894e+08,1.316276e+10
3,Fantastic Beasts The Secrets of Dumbledore,4300000.0,86300000.0,4,3.335291e+08,6.693851e+09
4,Everything Everywhere All at Once,3500000.0,41800000.0,7,2.714772e+08,3.242213e+09
5,The Northman,2900000.0,28100000.0,3,2.249382e+08,2.179574e+09
6,The Lost City,2800000.0,94700000.0,7,2.171817e+08,7.345397e+09
7,The Unbearable Weight of Massive Talent,1600000.0,16400000.0,3,1.241039e+08,1.272064e+09
8,Memory,1400000.0,5700000.0,2,1.085909e+08,4.421200e+08
9,Father Stu,875000.0,19300000.0,4,6.786929e+07,1.497003e+09